{{#if category}}
  <a href="#" {{action expand}} class='badge-category top'>
    {{#if category.read_restricted}}
      <i class='fa fa-group'></i>
    {{/if}}
    {{category.name}}
  </a>
{{else}}
  {{#if noSubcategories}}
    <a href='#' {{action expand}} class='badge-category top'>{{i18n categories.no_subcategory}}</a>
  {{else}}
    <a href='#' {{action expand}} class='badge-category top'>{{allCategoriesLabel}}</a>
  {{/if}}
{{/if}}

{{#if categories}}

    {{!-- <a {{bind-attr href=allCategoriesUrl}} class='badge-category'>{{allCategoriesLabel}}</a> --}}
    {{#if subCategory}}
    <a {{bind-attr href=noCategoriesUrl}}>{{i18n categories.no_subcategory}}</a>
    {{/if}}
    {{#each categories}}{{categoryLink this allowUncategorized=true}}{{/each}}

{{/if}}