{{#if category}}
  <a href="#" {{action expand}} class="badge-category">
    {{#if category.read_restricted}}
      <i class='fa fa-group'></i>
    {{/if}}
    {{category.name}}
  </a>
{{else}}
  {{#if noSubcategories}}
    <a href='#' {{action expand}} class='badge-category home'>{{i18n categories.no_subcategory}}</i></a>
  {{else}}
    <a href='#' {{action expand}} class='badge-category home'>{{allCategoriesLabel}}</i></a>
    <a href='#' {{action expand}} class='badge-category home' {{bind-attr style="badgeStyle"}}>{{i18n categories.no_subcategory}}</a>
  {{else}}
    <a href='#' {{action expand}} class='badge-category home' {{bind-attr style="badgeStyle"}}>{{allCategoriesLabel}}</a>
  {{/if}}
{{/if}}

{{#if categories}}
    <a {{bind-attr href=allCategoriesUrl}}>{{allCategoriesLabel}}</a>
    {{#if subCategory}}
    <a {{bind-attr href=noCategoriesUrl}}>{{i18n categories.no_subcategory}}</a>
    {{/if}}
{{/if}}
